{% extends 'base.html.twig' %}

{% block title %}Edit Account : PennyWise{% endblock %}
{% block content %}

<div class="verification section-padding">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-xl-5 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Edit Account</h4>
                    </div>
                    <div class="card-body">

                        {{ form_start(form, { 'attr': {'novalidate': 'novalidate'} }) }}
                        <div class="form-row">
                            <div class="mb-3 col-xl-12">
                                <label class="mr-sm-2">Name</label>
                                {{ form_widget(form.nameaccount, {'attr': {'class': 'form-control', 'placeholder': 'Enter account name'}}) }}

                                <div class="text-danger">{{ form_errors(form.nameaccount) }}</div>

                            </div>
                            <div class="mb-3 col-xl-12">
                                <label class="mr-sm-2">Balance</label>
                                {{ form_widget(form.balance, {'attr': {'class': 'form-control', 'placeholder': 'Enter balance'}}) }}
                                <div class="text-danger">{{ form_errors(form.balance) }}</div>
                            </div>
                            <div class="mb-3 col-xl-12">
                                <label class="mr-sm-2">Description</label>
                                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Enter description'}}) }}
                                <div class="text-danger">{{ form_errors(form.description) }}</div>
                            </div>
                            <div class="col-12 mt-5">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{{ path('app_accounts') }}" class="btn btn-primary w-100">Back</a>
                                    </div>
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-success w-100">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
