{% extends 'base.html.twig' %}

{% block title %}INCOME VS EXPENSE {% endblock %}

{% block content %}
<div class="row">
                    <div class="col-12">
                        <div class="page-title">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-xl-4">
                                    <div class="page-title-content">
                                        <h3>Income Expense</h3>
                                        <p class="mb-2">Welcome Ekash Finance Management</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="breadcrumbs"><a href="#">Home </a>
                                        <span><i class="fi fi-rr-angle-small-right"></i></span>
                                        <a href="#">Income Expense</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12 col-xl-12">
                        <div class="settings-menu">
                            <a href="analytics.html">Analytics</a>
                            <a href="analytics-expenses.html">Expenses</a>
                            <a href="analytics-income.html">Income</a>
                            <a href="analytics-income-vs-expenses.html">Income vs Expenses</a>
                            <a href="analytics-balance.html">Balance</a>
                            <a href="analytics-transaction-history.html">Transaction History</a>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Income vs Expense Graph</h4>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="chartjsIncomeVsExpense"></canvas>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>



{% endblock %}

{% block js %}
	<script src="{{ asset('vendor/jquery/jquery.min.js')}}"></script>
	<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
	<script src="{{ asset('vendor/chartjs/chartjs.js')}}"></script>

	<script src="{{ asset('js/plugins/chartjs-bar-income-vs-expense.js')}}"></script>

	<script src="{{ asset('js/scripts.js')}}"></script>
	<script src="{{ asset('js/walletScripts.js')}}"></script>
	


<script>
        // Call updateChart when the page loads
        updateChart();
    </script>

    {% endblock %}