{% extends 'base.html.twig' %}

{% block title %}Transactions
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<div class="page-title">
				<div class="row align-items-center justify-content-between">
					<div class="col-xl-4">
						<div class="page-title-content">
							<h3>Transaction History</h3>
							<p class="mb-2">Manage Transaction</p>
						</div>
					</div>
					<div class="col-auto">
						<div class="breadcrumbs">
							<a href="#">Home
							</a>
							<span>
								<i class="fi fi-rr-angle-small-right"></i>
							</span>
							<a href="#">Transaction History</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xxl-12 col-xl-12">
			<div class="settings-menu">
				<select
					class="selectAccountForTransac" id="selectedAccount" onchange="fetchTransactions()">
					<!-- Option to select all accounts -->
					<option value="all">All Accounts</option>
					<!-- Loop through accounts to generate options -->
					{% for account in accounts %}
						<option value="{{ account.idaccount }}">{{ account.nameaccount }}</option>
					{% endfor %}
				</select>
				{% include 'transaction/transaction_modal.html.twig' %}
				<a href="#" style="margin-right: 10px;" data-bs-toggle="modal" data-bs-target="#transactionTypeModal">
					Add Transaction
					<i class="fi fi-rr-square-plus"></i>
					<a href="analytics.html">Analytics</a>
					<a href="analytics-expenses.html">Expenses</a>
					<a href="analytics-income.html">Income</a>
					<a href="analytics-income-vs-expenses.html">Income vs Expenses</a>
					<a href="analytics-balance.html">Balance</a>
					<a href="analytics-transaction-history.html">Transaction History</a>
				</div>
				<div class="row">
					<div class="col-xl-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Transaction History</h4>
								<div id="defaultAccountNamePlace">
									Balance:
									{{ defaultAccountName }}
									<h4 class="text-success">{{ defaultAccountCurrency }} {{ defaultAccountBalance }}</h4>
								</div>
							</div>
						</div>
						<div class="card-body">
						{% include 'transaction/transaction_delete_modal.html.twig' %}
							<div class="transaction-table">
								<div class="table-responsive">
									<table class="table mb-0 table-responsive-sm" id="transactionTable">
										<thead>
											<tr>
												<th>Category</th>
												<th>Date</th>
												<th>Type</th>
												<th>Description</th>
												<th>Amount</th>
												<th>From Account</th>
												<th>To Account</th>
												<th>Payee</th>
												<th></th>

											</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
